/.idea
/.vscode
.editorconfig
.DS_Store
Thumbs.db

.env
.env.backup
.env.dev
/vendor/**
/node_modules/**
/public/hot
/public/storage # symlinked php artisan storage:link

npm-debug.log
yarn-error.log
/phpunit.xml
.phpunit.result.cache

docker-compose.override.yml
Homestead.json
Homestead.yaml

composer.lock
package-lock.json



